body {
    background-color: #f3f3f3;
}

p, h1, h5, h3 {
    font-family: 'Arial', sans-serif;
    color: #403942;
}

h1 {
    font-weight: bold;
}

.profile_pic {
    width: 15%;
    height: auto;
}

.project_img1 {
    width: 95%;
    height: auto;
    padding-left: 10px;
}

.project_img2 {
    width: 60%;
    height: auto;
    padding-left: 20px;
}

.project_img3 {
    width: 50%;
    height: auto;
}

p {
    padding-top: 10px;
}

.even-text {
    padding-top: 40px;
    padding-right: 20px;
}

.even-heading {
    text-align: right;
    padding-right: 20px;
}

#header {
    display: block;
    text-align: center;
    padding: 10px;
}

#bar{
    background-color: #E16271;
    height: 4px;
}

#projects {
    padding: 20px;
    margin: 20px;
    background-color: Lavender;
}

#experience {
    padding: 20px;
}

#skills {
    padding-top: 20px;
}