body {
    background-color: #f3f3f3;
}

img {
    width: 15%;
    height: auto;
}

p {
    padding-top: 10px;
}

#header {
    display: block;
    text-align: center;
    padding: 10px;
}

#bar{
    background-color: #E16271;
    height: 4px;
}

#article1 {
    padding: 20px;
}

#experience {
    padding: 20px;
}