body {
    background-color: #f3f3f3;
}

text {
    font-family: 'Arial', sans-serif;
    color: blue;
    /* color: #403942; */
}

.profile_pic {
    width: 15%;
    height: auto;
}

.project_img1 {
    width: 85%;
    height: auto;
    padding-left: 10px;
}

p {
    padding-top: 10px;
}

#header {
    display: block;
    text-align: center;
    padding: 10px;
}

#bar{
    background-color: #E16271;
    height: 4px;
}

#first_project {
    padding: 5px;
    margin: 20px;
    background-color: Lavender;
}

#experience {
    padding: 20px;
}